/*begin global*/

html {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    font-family: Nunito, sans-serif;
    font-size: 14px;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#content {
    width: 100%;
    height: calc(100% - 60px);
    background-color: transparent;
}

.cf:after {
    content: "";
    display: table;
    clear: both;
}

#sidebar-menu-container {
    width: calc((100% - 1136px) / 2);
    height: 100%;
    float: left;
}

#main-container {
    width: 1136px;
    height: 100%;
    float: left;
}

#sidebar-utilities-container {
    width: calc((100% - 1136px) / 2);
    height: 100%;
    float: left;
}

input {
    outline: none;
    font-family: "Nunito", sans-serif;
}

audio {
    outline: none;
}

a {
    text-decoration: none;
}

.no-content-info {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    text-align: center;
    color: #6c757d;
}

/*end global*/

/*begin nav*/

#nav {
    /*float: right;*/
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    border-bottom: 1px solid #212631;
    background-color: #2a3244;
    color: white;
}

/*block 1*/
#nav-menu {
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    width: calc((100% - 1136px) / 2);
    height: 100%;
    float: left;
    padding: 0;
    margin: 0;
}
/*end block 1*/

/*block 2*/

#nav header{
    display: table;
    float: left;
    width: 1136px;
    height: 100%;
    padding: 0;
    margin: 0;
}

#nav header div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 100%;
    height: 100%;
    margin: auto;
}

#nav header h1 {
    font-family: 'Berkshire Swash', cursive;
    font-size: 22px;
    margin-top: 0;
    margin-bottom: 0;
}

#nav header p {
    font-family: 'IM Fell Great Primer', serif;
    font-size: 14px;
    color: #ffa368;
    margin-top: 0;
    margin-bottom: 0;
}

/*end block 2*/

/*block 3*/

#nav-utilities {
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    width: calc((100% - 1136px) / 2);
    height: 100%;
    float: right;
    padding: 0;
    margin: 0;
}

.nav-tab {
    float: left;
    width: calc(100% / 3);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    cursor: pointer;
    transition: 0.2s;
    color: #ffffff;
}

.nav-tab.show {
    color: #ffa368;
    font-weight: bold;
}

.nav-tab:hover {
    background-color: #2e3950;
}

.nav-tab-content {
    display: table;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.nav-tab-content span {
    display: table-cell;
    vertical-align: middle;
}

/*end block 3*/
/*end nav*/

/*begin main*/

#main {
    float: left;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 10px rgba(0,0,1,0.3);
    padding: 0;
    font-size: 15px;
}

.main-container {
    width: 1024px;
    height: 100%;
    padding: 0 56px 0 56px;
    overflow: auto;
}

.main-content {
    width: 100%;
    height: inherit;
}

/*begin block 1*/

.library-article {
    display: inline-flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.library-article-header-container {
    display: inline-block;
    margin-top: 25px;
    flex-basis: 3%;
}

.library-article-header {
    font-family: 'El Messiri', sans-serif;
    /*text-align: right;*/
    font-size: 25px;
    font-weight: bold;
    color: #2a3244;
}

.library-article-sections-container {
    flex-basis: 90%;
}

.library-article-section {
    margin: 12px 0 12px 0;
    text-align: justify;
}

.library-article-source {
    flex-basis: 7%;
    text-align: right;
}

.library-article-default {
    width: 100%;
    height: calc(100% - 50px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.library-sign-container {
    width: 117px;
    height: 117px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.library-sign {
    text-align: left;
    width: 60px;
    height: 100px;
    font-size: 100px;
    color: #6c757d;
}

.library-article-section-default {
    color: #6c757d;
    text-align: center;
}

/*end block 1*/

/*begin block 2*/

.filters {
    width: 100%;
    height: 108px;
    box-sizing: border-box;
    border-bottom: 2px #e0e0e0 solid;
}

.current-filters {
    float: left;
    width: 57%;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 12px 0 0 3%;
}

.search-options {
    width: 100%;
    height: 25px;
}

.composition-search {
    display: flex;
    flex-direction: row-reverse;
    float: right;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 2px #e0e0e0 solid;
    padding-right: 3px;
    transition: 0.2s;
}

#composition-search-input {
    float: left;
    width: calc(100% - 21px);
    margin-left: 3px;
    border: none;
}

#composition-search-button {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 19px;
    width: 19px;
    cursor: pointer;
    margin: 0 4px 0 4px;
}

#composition-search-button i {
    color: #e0e0e0;
    font-size: 14px;
    transition: 0.2s;
}

.composition-search-type {
    height: 21px;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.composition-search-type:hover .composition-search-type-button {
    color: #2a3244;
}

.composition-search-type-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 21px;
    width: 21px;
    color: #2a3244;
    font-size: 14px;
}

.composition-search-type-button {
    display: table;
    height: 21px;
    width: 10px;
    color: #e0e0e0;
    margin: 0 3px 0 3px;
    font-size: 16px;
    transition: color 0.2s;
}

.composition-search-type-button.on {
    transform: rotate(90deg);
}

.composition-search-type-button.off {
    transform: rotate(0deg);
}

.composition-search-type-button span {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.search-icons-dropdown {
    display: none;
    position: absolute;
    top: 93px;
    left: 947px;
}

.dropdown-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 21px;
    width: 21px;
    cursor: pointer;
    color: #2a3244;
    background-color: #ffffff;
    box-sizing: border-box;
    border: 1px #e0e0e0 solid;
    font-size: 16px;
    transition: background-color 0.2s;
}

.dropdown-icon:hover {
    background-color: #2a3244;
    color: #ffffff;
}

.dropdown-icon.first {
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.dropdown-icon.current {
    margin-left: 5px;
    border-bottom: none;
    border-color: transparent;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.dropdown-icon.current:hover {
    /*border-color: #2a3244;*/
    background-color: #ffffff;
    color: #2a3244;
}

.dropdown-icon.composition-type {
    font-size: 14px;
    padding-right: 2px;
}

.dropdown-icon.artist-type {
    justify-content: flex-start;
    padding-right: 3px;
}

.dropdown-icon.artist-type span {
    font-size: 18px;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(90deg);
}

.dropdown-icon.anthology-type {
    padding-right: 1px;
}

.dropdown-icon.anthology-type span {
    font-size: 13px;
}

.filters-options {
    width: calc(100% - 10px);
    display: block;
    margin-right: 10px;
}

.clear-all-filters {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 5%;
    float: left;
    cursor: pointer;
    box-sizing: border-box;
    border: 2px #e0e0e0 solid;
    border-radius: 5px;
    transition: 0.2s;
}

.clear-all-filters:hover {
    background-color: #2a3244;
    color: #ffffff;
    border-color: transparent;
}

.search-filters {
    float: right;
    width: calc(95% - 3px);
    height: 25px;
}

.request-filter {
    display: flex;
    float: left;
    align-items: center;
    height: 25px;
    cursor: pointer;
    margin: 0 2px 0 2px;
    padding: 2px 3px 2px 3px;
    box-sizing: border-box;
    border: 2px #e0e0e0 solid;
    border-radius: 5px;
    transition: 0.2s;
}

.request-filter:hover {
    background-color: #2a3244;
    color: #ffffff;
    border-color: transparent;
}

.faded-legend {
    font-size: 12px;
    font-style: italic;
    color: #6c757d;
    margin: 0 2px 0 2px;
}

.prices-filter {
    display: flex;
    float: left;
    align-items: center;
    height: 25px;
    cursor: pointer;
    margin: 0 2px 0 2px;
    padding: 2px 3px 2px 3px;
    box-sizing: border-box;
    border: 2px #e0e0e0 solid;
    border-radius: 5px;
    transition: 0.2s;
}

.prices-filter:hover {
    background-color: #2a3244;
    color: #ffffff;
    border-color: transparent;
}

.tags-filters {
    float: right;
    width: calc(95% - 3px);
    height: 25px;
    /*margin: 0 0 0 3px;*/
    overflow: hidden;
}

.tag-filter {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 0 2px 0 2px;
    padding: 2px 3px 2px 3px;
    border: 2px #e0e0e0 solid;
    border-radius: 5px;
    transition: 0.2s;
}

.tag-filter:hover {
    background-color: #2a3244;
    color: #ffffff;
    border-color: transparent;
}

.filter-delete-sign {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12px;
    height: 14px;
    margin-left: 1px;
}

.filters-spacer {
    float: right;
    height: 4px;
    width: 95%;
}

.instruments-filters {
    float: right;
    width: calc(95% - 3px);
    height: 25px;
    /*margin: 0 0 0 3px;*/
    overflow: hidden;
}

.instrument-filter {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 0 2px 0 2px;
    padding: 2px 3px 2px 3px;
    border: 2px #e0e0e0 solid;
    border-radius: 5px;
    transition: 0.2s;
}

.instrument-filter:hover {
    background-color: #2a3244;
    color: #ffffff;
    border-color: transparent;
}

.musical-filters-more {
    height: 25px;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    margin-left: 3px;
}

.compositions-options {
    float: right;
    width: 37%;
    margin: 12px 3% 0 0;
}

.sorters {
    float: right;
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    margin: 8px 0 0 0;
}

.sorter {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 20%;
    cursor: pointer;
    /*margin: 0 5px 0 5px;*/
    padding: 3px 5px 3px 5px;
    border: 2px #e0e0e0 solid;
    border-left: none;
    box-sizing: border-box;
    transition: 0.2s;
}

.sorter:hover {
    background-color: #ececec;
}

#first-sorter {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#last-sorter {
    border-left: 2px #e0e0e0 solid;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.sorter.current {
    background-color: #2a3244;
    color: #ffffff;
}

.sorter.current:hover .sort-sign {
    color: #ffa368;
}

.sorter span {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sort-sign {
    width: 12px;
    height: 12px;
    margin: 2px 0 0 2px;
    transition: 0.2s;
}

.sorter.basic .sort-sign {
    font-size: 13px;
    width: 12px;
    height: 12px;
    margin: 2px 0 0 2px;
    transform: rotate(90deg);
}

.category-filters {
    float: right;
    height: 17px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    margin: 6px 0 0 0;
}

.genre-filters {
    margin-left: 5px;
}

.genre-filter {
    display: inline-block;
}

.back-genre {
    box-sizing: border-box;
    border-bottom: 1px transparent solid;
    cursor: pointer;
    transition: 0.2s;
}

.back-genre:hover {
    border-color: #000000;
}

.current-genre {
    font-weight: bold;
}

.compositions-container {
    width: 100%;
    height: calc(100% - 183px);
    margin: 20px 0 0 0;
}

.compositions {
    /*float: right;*/
    width: 960px;
    height: 100%;
    margin: auto;
}

.compositions-missing {
    width: 100%;
    height: calc(100% - 75px);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 75px;
    color: #6c757d;
}

.composition {
    float: left;
    width: 300px;
    height: 205px;
    margin: 0 10px 20px 10px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,1,0.3);
    font-size: 12px;
}

audio {
    display: inline-block;
    width: 90%;
    height: 40px;
    margin: 15px 5% 0 5%;
}

.composition-info {
    width: 90%;
    height: 53px;
    margin: 5px auto 15px auto;
}

.composition-features {
    width: 90%;
    margin: 0 auto 13px auto;
    padding-bottom: 3px;
    height: 17px;
    box-sizing: border-box;
    border-bottom: 2px #e0e0e0 solid;
}

.composition-marks {
    float: left;
}

.composition-sales {
    float: left;
    margin-left: 10px;
}

.composition-price {
    float: right;
}

.composition-attr {
    margin-bottom: 2px;
}

.composition-attr i {
    color: #6c757d;
}

.composition-name {
    width: 270px;
    height: 16px;
    font-size: 14px;
    font-weight: bold;
}

.composition-actions {
    width: 90%;
    height: 32px;
    margin: 0 auto 0 auto;
}

.composition-action {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22px;
    height: 22px;
    cursor: pointer;
    font-size: 18px;
    padding: 3px 3px 3px 3px;
    border: 2px #e0e0e0 solid;
    border-radius: 5px;
    transition: 0.2s;
}

.composition-action:hover {
    background-color: #2a3244;
    color: #ffffff;
    border-color: transparent;
}

.composition-mark {
    float: left;
}

.composition-wish {
    padding: 4px 3px 2px 3px;
    float: left;
    margin-left: 5px;
}

.composition-buy {
    float: right;
}

.composition-pages {
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.page-number {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px 0 5px;
    padding: 5px 10px 5px 10px;
    border: 2px #e0e0e0 solid;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
}

.page-number:hover {
    background-color: #2a3244;
    color: #ffffff;
    border-color: transparent;
}

.page-number.active {
    border-color: #2a3244;
}

/*end block 2*/

.welcome {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #6c757d;
}

.welcome-header {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 12px;
}

.welcome-text {
    margin-bottom: 3px;
}

/*end main*/

/*begin sidebar menu*/

#sidebar-menu {
    display: none;
    font-family: 'El Messiri', sans-serif;
    font-size: 15px;
    color: #ffffff;
    float: left;
    width: 100%;
    height: 100%;
    /*height: calc(100% - 60px);*/
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /*background-color: #172128;*/
    /*border-right: 1px solid #65769a;*/
}

.sidebar-list {
    float: left;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: #212e41;
}

.sidebar-list-content.invisible {
    float: left;
    height: 100%;
    width: 100%;
    background-color: transparent;
}

.sidebar-list-content.visible {
    float: left;
    height: 100%;
    width: 100%;
    background-color: #212e41;
}

/*block 1*/

.accordion-button {
    height: 25px;
    /*background-color: #172128;*/
    padding: 14px 15px 14px 15px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: background-color 0.2s, font-weight 0.2s;
}

.genre-name {
    float: left;
    width: 100px;
    height: 17px;
    margin: 2px 0 2px 0;
}

.change-status-sign {
    float: right;
    width: 31px;
    text-align: center;
}

.change-status-sign span {
    width: 31px;
    font-size: 20px;

}

.accordion-button:hover {
    background-color: #293649;
    /*background-color: #202736;*/
}

.accordion-button.on .change-status-sign {
    transform: rotate(90deg);
    transition: transform 0.2s;
}

.accordion-button.off .change-status-sign {
    transform: rotate(0deg);
    transition: transform 0.2s;
}

.sub-genre-list {
    display: none;
}

.sub-genre-list.visible {
    display: block;
}

.sub-genre-name {
    cursor: pointer;
    box-sizing: border-box;
    padding: 5px 0 5px 30px;
    border-left: 3px solid transparent;
    color: #ffffff;
    transition: border-left-color 0.4s, background-color 0.2s, padding-left 0.4s;
}

.sub-genre-name:hover {
    background-color: #293649;
}

.sub-genre-name.active {
    /*background-color: #293649;*/
    border-color: #ff8e46;
    padding-left: 40px;
}

.sub-genre-name.inactive {
    background-color: #212e41;
    border-color: transparent;
    padding-left: 30px;
}

.sub-genre-name.inactive:hover {
    background-color: #293649;
}

/*end block 1*/

/*begin block 2*/

.category-button {
    height: 30px;
    width: 100%;
    display: table;
    box-sizing: border-box;
    padding: 0 20px 0 20px;
}

.category-button.back {
    background-color: #212e41;
    padding-left: 17px;
    cursor: pointer;
}

.category-button.back:hover {
    background-color: #293649;
}

.category-button.back .back-sign {
    display: inline-block;
}

.back-sign {
    display: none;
    width: 20px;
    height: 22px;
    font-size: 14px;
    color: #ff8e46;
    margin: 0 3px 0 0;
}

.back-sign span {
    width: 20px;
    height: 22px;
}

.category-name {
    height: 22px;
    display: inline-block;
    font-weight: bold;
    margin: 4px 0 4px 0;
}

.category-content-amount {
    height: 22px;
    display: inline-block;
    margin: 4px 30px 4px 0;
    float: right;
    text-align: right;

}

.sub-categories-container {
    width: 100%;
    height: 100%;
}

.sub-category-button {
    width: 100%;
    height: 30px;
    box-sizing: border-box;
    padding: 0 20px 0 35px;
    cursor: pointer;
}

.sub-category-button:hover {
    background-color: #293649;
}

.sub-category-name {
    float: left;
    display: inline-block;
    height: 22px;
    margin: 4px 0 4px 0;
}

.sub-category-content-amount {
    float: right;
    display: inline-block;
    height: 22px;
    margin: 4px 30px 4px 0;
}

.checkbox {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0 20px 0 20px;
}

.checkbox-input {
    display: inline-block;
    cursor: pointer;

}

.checkbox-input:hover + .checkbox-label {
    border-bottom-color: #ffffff;
}

.checkbox-label {
    height: 20px;
    margin-left: 5px;
    box-sizing: border-box;
    display: inline-block;
    cursor: pointer;
    border-bottom: 1px solid transparent;
    transition: border-bottom-color 0.2s;
}

.checkbox-label:hover {
    border-bottom-color: #ffffff;
}

.instrument {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0 20px 0 20px;
}

.instrument-input {
    display: inline-block;
    cursor: pointer;

}

.instrument-input:hover + .instrument-label {
    border-bottom-color: #ffffff;
}

.instrument-label {
    height: 20px;
    margin-left: 5px;
    box-sizing: border-box;
    display: inline-block;
    cursor: pointer;
    border-bottom: 1px solid transparent;
    transition: border-bottom-color 0.2s;
}

.instrument-label:hover {
    border-bottom-color: #ffffff;
}

.price-filter {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    margin: 10px 20px 25px 0;
}

.currency-sign-min {
    display: flex;
    align-items: center;
    height: 24px;
    width: 12px;
    /*display: inline-block;*/
    margin: 0 0 0 25px;
    padding: 0 0 0 3px;
    background-color: #ffffff;
    border-color: #ffffff;
    color: #6c757d;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.currency-sign-min span {
    height: 20px;
}

.currency-sign-max  {
    display: flex;
    align-items: center;
    height: 24px;
    width: 12px;
    /*display: inline-block;*/
    margin: 0;
    padding: 0 0 0 3px;
    background-color: #ffffff;
    border-color: #ffffff;
    color: #6c757d;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.currency-sign-max span {
    height: 20px;
}

.price-input {
    display: inline-block;
    width: 45px;
    height: 20px;
    padding-right: 4px;
    background-color: #ffffff;
    border: 1px #ffffff solid;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.price-delimiter {
    display: inline-block;
    margin: 0 3px 0 3px;
}

.price-button {
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 22px;
    width: 22px;
    cursor: pointer;
    margin-left: 10px;
    border: 1px #ffffff solid;
    border-radius: 3px;
    transition: background-color 0.2s, border-color 0.2s;
}

.price-button:hover {
    background-color: #ffffff;
    border-color: transparent;
}

.price-button:hover span {
    color: #000000;
}

.price-button span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    margin-right: 1px;
}

/*end block 2*/

/*begin block 3*/

.collection-list {
    float: left;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: #212e41;
}

/*end block 3*/
/*end sidebar menu*/

/*begin sidebar utilities*/

#sidebar-utilities {
    display: none;
    float: right;
    width: 100%;
    height: 100%;
    /*height: calc(100% - 60px);*/
    background-color: #212e41;
}

#search-field {
    display: inline-block;
    width: 100%;
    height: 60px;
}

#search-field form {
    width: 230px;
    height: 30px;
    margin: 15px auto;
    padding: 0;
}

#search-input-container {
    float: left;
    width: 200px;
    height: 30px;
}

#search-input {
    font-family: 'El Messiri', sans-serif;
    box-sizing: border-box;
    width: 200px;
    height: 30px;
    padding: 0 2px 0 5px;
    border: 1px solid #212e41;
    border-right: none;
    border-radius: 6px 0 0 6px;
    background-color: #ffffff;
    color: #212631;
}

#search-button-container {
    float: right;
    width: 30px;
    height: 30px;
    text-align: center;
}

#search-button {
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    border: 1px solid #212e41;
    border-radius: 0 6px 6px 0;
    border-left: none;
    display: inline-block;
    background-color: #ffffff;
    cursor: pointer;
    transition: 0.2s;
    /*text-align: center;*/
    /*vertical-align: middle;*/
}

#search-button:hover {
    background-color: #65769a;
}

#search-button:hover i {
    color: #ffffff;
}

#search-button i {
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    margin-top: 7px;
    color: #212631;
    transition: 0.2s;
}

/*end sidebar utilities*/
